{%  extends 'survey/base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Timestamps</h1>
        <p>Alle stamps uit de afgelopen tijd</p>

        <div id="specific" class="row">
            <div class="col-sm-4">
                <form method="post" action="{% url 'survey:TimestampGeneral' %}">

                    {% csrf_token %}

                    <div class="form-group" id="specific">
                        <h2>Sorteren</h2>
                        <label>Beginpunt</label>
                        <input type="number" name="start" class="form-control">
                        <label>Eindpunt</label>
                        <input type="number" name="end" class="form-control">
                        <label>Sorteren</label>
                        <input type="number" name="sorting" class="form-control">
                        <input type="hidden" name="action" value="specify">
                        <br />
                        <button class="btn btn-success btn-block" name="sort">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-offset-8">
                <form method="post" action="{% url 'survey:TimestampGeneral' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <h2>Downloaden</h2>
                        <label>Begin</label>
                        <input type="number" class="form-control" name="first" value={{ first }}>
                        <label>Laatst</label>
                        <input type="number" class="form-control" name="last" value={{ last }}>
                        <label>Sort</label>
                        <input type="number" class="form-control" name="sorting" value={{ sort }}>
                        <br />
                        <input type="hidden" name="action" value="download">
                        <button class="btn btn-success btn-block" name="download">Download deze data</button>
                     </div>
                </form>
            </div>
        </div>

        <button class="btn btn-default btn-block" id="showspec">Speciale details</button>

        <table class="table table-hover">
            <tr>
                <th>date</th>
                {% for sensor in sensors %}
                <th>{{ sensor }}</th>
                {%  endfor %}
                <th>Link</th>
            </tr>
            {% for stamppoint in stamps %}
            <tr>
                {% for item in stamppoint %}
                    {% if item.stamp %}
                        <td>{{ item.stamp|date:"D d N H:i" }}</td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="{% url 'survey:TimestampDetailed' stamppoint.0.id %}">Bekijk Detail</a></td>
            </tr>
            {% endfor %}
        <table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript">
    // On load
    $('document').ready(function(){
        $('#specific').hide();
    })

    // Laat alle details zien
    $('#showspec').click(function(){
        $('#specific').toggle("medium");
    })
</script>
{% endblock %}